:root {
--color1: #2E2F42;
--color2: #434455;
--color3:#4D5AE5;
--color4: #404BBF;
--color5: #ffffff;
--color6:  #F4F4FD;
--color7: #E7E9FC;}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    }

/* *****  header****** */
.container1 {
    width: 1440;
    /* height: 70px; */
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    border-bottom: 1px solid #E7E9FC;

}
.header-navi {
    display: flex;
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--color3);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}
.half-logo {
    color: var(--color1);}
.header:is(:hover, :focus){color: var(--color4);}

.header {display: flex;
    align-items: center;
    gap: 40px;
}

.header-item {
    list-style-type: none; 
    /* margin-right: 40px; */
}

.header-link:active {color: var(--color4);}
.header-link {
    font-weight: 500;
    text-decoration: none;
    color: var(--color1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    
}
.header-link:is(:hover, :focus){color: var(--color4);}

.header-addr {
    list-style: none; 
}
.header-addr-cont :is(:hover, :focus){color: var(--color4);}
.header-addr-cont {
    display: flex;
}

.header-cont {
    list-style-type: none; margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;   
}
.header-link-cont:is(:hover, :focus){ var(--color4);}

.header-link-cont {    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--color2);
    text-decoration: none;
    list-style: none;
}
.header-link-cont:active {color: var(--color4);}
.header-email {
margin-left: 332px;
}
.header-tel {
margin-left: 40px;
}




/* ****main*** */

.container2 {
    width: 1440px;
    padding: 188px 473px;
    background: var(--color1);
}

.container3 {
    display: flex;
    width: 1128px;
    padding: 120px 156px; 
}
.container4 {
    width: 1440px;
    padding: 120px 0;
    background: var(--color6);
    }
.main-sect-1 {
    text-align: center;
    }
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    max-width: 495px;
    color: var(--color5);
    margin-bottom: 48px;
}
.main-but:is(:hover, :focus) { 
    background: var(--color4);
}
.main-but {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* justify-content: center; */
    margin: 0 auto;
    background: var(--color3);
    border: 1px solid #4D5AE5;);
    border-radius: 4px;
    color: var(--color5);
    cursor: pointer;
    }
    
.main-skills-all {
    list-style-type: none;  
    display: flex; 
    gap: 24px; 
    justify-content: center;
    /* margin: 120px 0; */
}
.main-skills-bloc {
    width: 264px;
}
.main-skills {    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color1);
    list-style-type: none; margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;   
    
}
.main-actions {     
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color2);
    }
.what-doing {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}    
.main-demonstr {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color1);
    }
.main-staff-all {
    
}
.main-staff {        
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--color1);
}
.main-staff-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.main-staff-name { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 32px;
    color: var(--color1);
    }

.main-staff-proff {    
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 8px;
    margin-bottom: 32px;
    color: var(--color2);
    }

.nomarker {
    list-style-type: none;
    text-decoration: none;  
}
.not-see {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }

        /* *****footer***** */
.container-footer {
    padding: 100px 1020px 100px 156px;
    background: var(--color1);
    /* margin-top: 120px; */
}
.footer {
   
}

.footer-logo {font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color3);
    }

.footer-logo-half {
    color: var(--color6);}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
    color: var(--color7);
    }

    /* ********Portfolio*********** */
/* .pf-main  :is(:hover, :focus){color: var(--color5); 
    background: var(--color4);  */
    /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;} */ 

.pf-main {
    list-style-type: none;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 96px 0 72px;
    }
    
.pf-main-but {
    list-style-type: none; 
}


.pf-main-but {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--color3);
}
.pf-main-but:is(:hover, :focus){color: var(--color5); 
    background: var(--color4); 
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf-main-but {
    cursor: pointer;
}
.function-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}
.pf-main-link {
    text-decoration: none;
}
.pf-main-funct :is(:hover, :focus){color: var(--color4);}
.pf-main-funct {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
    color: var(--color1);
    /* text-decoration: none; */
    }
    .function-title {
    list-style-type: none;
     padding-bottom: 32px;
     margin-bottom: 48px;   
    }
    .pf-main-wherefunct :is(:hover, :focus){color: var(--color4);}
.pf-main-wherefunct {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 16px;
    color: var(--color2);
    /* text-decoration: none; */
    }

    /* flex-boxes */
